<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NFeDistribuicaoDFeSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="NFeDistribuicaoDFeSoap1" />
                <binding name="CTeDistribuicaoDFeSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CTeDistribuicaoDFeSoap1" />
                <binding name="NFeRecepcaoEvento4Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="NFeRecepcaoEvento4Soap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="NFeAutorizacao4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NFeInutilizacao4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NFeRecepcaoEvento4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NFeStatusServico4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NFeRetAutorizacao4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NFeConsultaProtocolo4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx"
                binding="basicHttpBinding" bindingConfiguration="NFeDistribuicaoDFeSoap"
                contract="NFeDistribuicao.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap" />
            <endpoint address="https://www1.cte.fazenda.gov.br/CTeDistribuicaoDFe/CTeDistribuicaoDFe.asmx"
                binding="basicHttpBinding" bindingConfiguration="CTeDistribuicaoDFeSoap"
                contract="CTeDistribuicao.CTeDistribuicaoDFeSoap" name="CTeDistribuicaoDFeSoap" />
            <endpoint address="https://nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx"
                binding="customBinding" bindingConfiguration="NFeAutorizacao4Soap12"
                contract="NFeAutorizacao4.NFeAutorizacao4Soap12" name="NFeAutorizacao4Soap12" />
            <endpoint address="https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao4.asmx"
                binding="customBinding" bindingConfiguration="NFeInutilizacao4Soap12"
                contract="NFeInutilizacao4.NFeInutilizacao4Soap12" name="NFeInutilizacao4Soap12" />
            <endpoint address="https://nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx"
                binding="customBinding" bindingConfiguration="NFeRecepcaoEvento4Soap12"
                contract="NFeEvento4.NFeRecepcaoEvento4Soap12" name="NFeRecepcaoEvento4Soap12" />
            <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx"
                binding="customBinding" bindingConfiguration="NFeStatusServico4Soap12"
                contract="NFeStatusServico4.NFeStatusServico4Soap12" name="NFeStatusServico4Soap12" />
            <endpoint address="https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx"
                binding="customBinding" bindingConfiguration="NFeRetAutorizacao4Soap12"
                contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap12" name="NFeRetAutorizacao4Soap12" />
            <endpoint address="https://nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx"
                binding="customBinding" bindingConfiguration="NFeConsultaProtocolo4Soap12"
                contract="NFeConsultaProtocolo4.NFeConsultaProtocolo4Soap12"
                name="NFeConsultaProtocolo4Soap12" />
            <endpoint address="https://hom.nfe.fazenda.gov.br/NFeRecepcaoEvento4/NFeRecepcaoEvento4.asmx"
                binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap"
                contract="NFeEventoNacional4.NFeRecepcaoEvento4Soap" name="NFeRecepcaoEvento4Soap" />
        </client>
    </system.serviceModel>
</configuration>